{% extends "base.html.twig" %}

{% block content %}
    {% if not logged_in %}
    <div>
        <a href="/login">Please login.</a>
    </div>
    {% else %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            </div>
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
                <h3>NovaShare</h3>
            </div>
            <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            </div>
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
                <a href="/" class="mdl-layout__tab is-active">Your images ({{ images.length }})</a>
                <a href="#" class="mdl-layout__tab show-modal">ShareX configuration</a>
                {% if is_admin %}
                <a href="/admin" class="mdl-layout__tab">Admin</a>
                {% endif %}
                <a href="/logout" class="mdl-layout__tab">Logout</a>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
                    <i class="material-icons" role="presentation">add</i>
                    <span class="visuallyhidden">Add</span>
                </button>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="mdl-layout__tab-panel is-active" id="overview">
                {% if images %}
                {% for image in images %}
                    <div class="mdl-card mdl-shadow--2dp card" style="width: auto; height:200px;">
                        <a href="/uploads/{{ image }}">
                            <img src="/uploads/{{ image }}" class="mdl-card__title mdl-card--expand" style="width: 400px; height: auto; padding: 0;"/>
                        </a>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </main>

        <dialog class="mdl-dialog">
            <div class="mdl-dialog__content">
                <p>
                    <div>Your API key is <div id="apikey"></div></div><br>
                    <p><a href="/user/sharex">Click here</a> to get your custom ShareX Uploader config.</p>
                </p>
            </div>
            <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
                <button type="button" class="mdl-button close">Close</button>
            </div>
        </dialog>

    </div>
    <!--<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
        <main class="mdl-layout__content">
            <div class="mdl-grid">
                <div class="mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand"></div>
                </div>
            </div>
        </main>
    </div>-->
    {% endif %}
{% endblock %}
