{% extends "base.html.twig" %}

{% block content %}
    {% if not logged_in %}
    <div>
        <a href="/login">Please login.</a>
    </div>
    {% else %}
    <div>Welcome back, {{ username }}. Admin? {{ is_admin }}</div>
    {% endif %}
{% endblock %}